<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="veccsolutions" value="https://www.myget.org/F/veccsolutions/auth/8a3da9bc-e7ee-4a93-a3fc-86c176f8aece/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>